################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Anagram/v15
/Anagram/bin
/Anagram/obj
/AnagramSolverLib/bin
/AnagramSolverLib/obj
/AnagramSolverSite/bin
/AnagramSolverSite/obj
/packages
*.suo
*.pubxml
*.user
